* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: rgb(245, 245, 245);
}

#header {
    width: 100%;
    height: 56px;
    background-color: rgb(255, 255, 255);
}

.container {
    /* border: 1px solid black; */
    min-width: 32px;
    min-height: 32px;
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

#main {
    width: 100%;
}

#primary {
    flex: 2;
    margin-left: 24px;
    padding: 24px 24px 0px 0px;
}
#secondary {
    padding-top: 24px;
    padding-right: 24px;
}

#video {
    min-width: 640px;
    min-height: 360px;
    border: 1px solid black;
}

#player {
    width: 100%;
    height: 360px;
    justify-content: center;
}
.border {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.items {
    width: 100%;
    padding-bottom: 8px;
}

.items span {
    margin-bottom: 4px;
    font-weight: bold;
}

.small-text {
    color: darkslategray;
    font-size: 13px;
}

.image {
    width: 168px; 
    height: 94px;
    border: 1px solid black;
}

.items .text-container {
    padding: 8px;
}

#info {
    padding-top: 20px;
    padding-bottom: 8px;
    border-bottom: gray 1px solid;
}

#info span {
    font-weight: 500;
}

#menu {
    align-items: center;
    height: 48px;
}


#menu div {
    padding-right: 16px;
    color: gray;
    font-weight: bold;
}


#channel-info {
    border-bottom: gray;
    padding-bottom: 16px;
    margin-bottom: 24px;
}

#channel-info #channel-title {
    align-items: normal;
    padding-top: 16px;
    margin-bottom: 12px;
}

.right {
    margin-left: auto;
}
.center {
    align-items: center;
    justify-content: center;
}

.icon {
    color: gray;
    padding: 6px;
}

#subscribe-button {
    background-color: #CC0000;
    color: #ffffff;
    font-weight: bold;
    border: 0px;
    padding: 10px 16px;
    border-radius: 3px;
    align-self: center;
}

#channel-img {
    border-radius: 50%;
    margin-right: 16px;
}

#description {
    margin-left: 64px;
}

@media (max-width: 950px) {
    #main {
        flex-direction: column;
    }

    #secondary {
        margin-left: 24px;
    }

}