* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 56px;
}

.container {
    border: 1px solid black;  
    min-width: 32px;
    min-height: 32px;  
    display: flex;
    align-items: flex-start;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

#main {
    width: 100%;
}

#primary {
    flex: 2;
    margin-left: 24px;
    padding: 24px 24px 0px 0px;
}
#secondary {
    flex: 1;
    padding-top: 24px;
    padding-right: 24px;
}

#video {
    width: 640px;
    height: 480px;

}

#player {
    width: 100%;
    flex: 1;
}

.items {
    width: 100%;
    padding-bottom: 8px;
}

.image {
    width: 168px; 
    height: 94px;
    border: 1px solid black;
}

.items .text-container {
    padding: 8px;
}